

.dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: var(--title-color);
    box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
    margin-right: -18px;
    transform-origin: center center;
    animation: spin 1s linear infinite;
    will-change: transform;
    
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
