/* Products.css */

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.products__h1 {
    margin: 40px 550px;
    color: var(--text-color);
}