/* Hero.css */
.hero {
    background-image: var(--background-image);
    padding: 100px 0;
    text-align: center;
    color: var(--body-color);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}


.hero__container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.hero__title {
    font-size: 7rem;
    margin-bottom: 20px;
    color: var(--title-color);
    font-weight: bold;
    text-transform: capitalize;
}

.hero__subtitle {
    font-size: 2rem;
    color: var(--type-color);
    margin-bottom: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .hero__title {
        font-size: 1.5rem;
    }

    .hero__subtitle {
        font-size: 1rem;
    }

    .hero {
        padding: 30px 0;
    }
}