/* AboutUs.css */

.about {
    background-image: var(--background-image);
    padding: 120px 20px;
    text-align: center;
    -webkit-mask: var(--masks);
        mask: var(--masks);
}

.about__container {
    max-width: 1200px;
    margin: 0 auto;
}

.about__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--title-color);
}

.about__subtitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: var(--type-color);
    font-weight: bold;
}

.about__content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.about__text {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    text-align: left;
}

.about__text p {
    margin-bottom: 20px;
    font-weight: bold;
}

.about__image {
    flex: 1;
}

.about__image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .about__content {
        flex-direction: column;
        text-align: center;
    }

    .about__text {
        text-align: center;
    }

    .about__image {
        margin-top: 20px;
    }
}