/* AboutUs.css */

.about-us {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
    margin-top: 60px;
}

.about-us__container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-us__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.about-us__subtitle {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #777;
}

.about-us__content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.about-us__text {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    text-align: left;
}

.about-us__text p {
    margin-bottom: 20px;
}

.about-us__image {
    flex: 1;
}

.about-us__image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .about-us__content {
        flex-direction: column;
        text-align: center;
    }

    .about-us__text {
        text-align: center;
    }

    .about-us__image {
        margin-top: 20px;
    }
}