/* ProductCard.css */
.product__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-image: var(--background-image);
    width: 900px;
    height: 650px;
    transition: transform 0.2s;
    margin: 20px;
    border-radius: 24px;
    box-shadow: var(--container-shadow);
}

.product__container:hover {
    transform: scale(1.05);
}

.product__container .product__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: .3s linear;
}


.product__container .product__image img {
    position: relative;
    width: 500px;
    transform: rotate(-30deg);
    left: -50px;
    transition: .9s linear;
    box-shadow: var(--image-shadow);
    border-radius: 24px;
}

.product__container .product__image img:hover {
    transform: rotate(0deg);
}

.product__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.product__container .product__details h2 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: var(--title-color);
}

.product__container .product__details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--type-color);
}

.product__container .product__details p {
    max-width: 85%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 36px;
}

.product__container .product__details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: var(--price-color);
    float: left;
}

.product__container .product__details Button {
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}




/* responsive */
@media (max-width: 1000px) {
    .product__container {
        height: auto;
    }

    .product__container .product__image {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .product__container .product__image img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }

    .product__details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }

    .product__container .product__details p {
        margin-left: 0;
        max-width: 100%;
    }
}