/* ProductCard.css */
.product__container {
    position: relative;
    display: flex;
    align-items: center;
    background-image: var(--background-image);
    width: 550px;
    height: 400px;
    transition: transform 0.2s;
    margin: 20px;
    border-radius: 12px;
    box-shadow: var(--container-shadow);
}

.product__container:hover {
    transform: scale(1.25);
    z-index: 100;
}

.product__image {
    padding: 10px;
    background: transparent;
}


.product__image img {
    position: relative;
    width: 250px;
    box-shadow: var(--image-shadow);
    border-radius: 12px;
}

.product__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.product__details h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    line-height: 1em;
    color: var(--title-color);
}

.product__details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--type-color);
}

.product__details p {
    max-width: 85%;
    color: var(--text-color);
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 13px;
}

.product__details h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: var(--price-color);
    float: left;
}

.product__details Button {
    padding: 8px 10px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
    float: right;
}




/* responsive */
@media (max-width: 1000px) {
    .product__container {
        height: auto;
        display: flex;
        flex-direction: column;
    }
        .product__container:hover {
            transform: scale(1.05);
        }

    .product__image {
        padding: 40px;
        text-align: center;
    }

    .product__image img {
        width: 350px;

    }

    .product__details p {
        font-size: 16px;
        max-width: 100%;
    }
}