.nav__toggle,
.nav__close {
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
    display: none;
}



@media (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        border: 2px solid blanchedalmond;
        color: black;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .nav__menu.active {
        transform: translateX(0);
    }

    .nav__list {
        flex-direction: column;
        gap: 2rem;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    .nav__toggle {
        display: flex;
        margin-right: 2rem;
    }

    .nav__toggle.active{
        display: none;
    }

    .nav__close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}