.footer {
    background-image: var(--background-image);
    color: var(--text-color);
    padding: 200px 0 80px;
    margin: 60px 0 0;
    text-align: center;
    width: 100%;
    position: relative;
    --size: 50px;
        --R: calc(var(--size)*1.28);
    
        --mask:
            radial-gradient(var(--R) at 50% calc(1.8*var(--size)), #000 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
            radial-gradient(var(--R) at 50% calc(-.8*var(--size)), #0000 99%, #000 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    
        -webkit-mask: var(--mask);
        mask: var(--mask);
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
}

.footer__section {
    flex: 1;
    max-width: 300px;
    margin: 10px 0;
}

.footer__section h4 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footer__section p,
.footer__section ul,
.footer__section a {
    color: var(--title-color);
    font-size: 1.2rem;
    margin: 5px 0;
    font-weight: bold;
}

.footer__section ul {
    list-style: none;
    padding: 0;
}

.footer__section a {
    color: var(--title-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer__section a:hover {
    color: var(--body-color);
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.footer__socials a {
    font-size: 2rem;
    color: var(--title-color);
    transition: transform 0.3s, color 0.3s;
}

.footer__socials a:hover {
    transform: translateY(-20px);
    color: var(--body-color);
}

.footer__bottom {
    padding-top: 20px;
    font-size: 0.9rem;
    color: var(--title-color);
}

/* Mobile Responsive Styling */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__section {
        max-width: 100%;
        text-align: center;
    }

    .footer__section h4 {
        margin-bottom: 10px;
    }

    .footer__socials {
        margin: 20px 0;
    }

    .footer__bottom {
        margin-top: 20px;
        padding-top: 20px;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .footer__container {
        padding: 0 10px;
    }

    .footer__section {
        margin: 15px 0;
    }

    .footer__section p,
    .footer__section a {
        font-size: 0.9rem;
    }

    .footer__socials a {
        font-size: 1.5rem;
    }
}